/* CSS for section section:header */
.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: var(--color-bg-light);
  z-index: 100;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.logo .logo-images {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.logo-icon {
  height: 44px
}
.logo-text {
   height: auto;
  width:200px;
  object-fit:cover;
  object-position:center;
}
.main-nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav a {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  transition: color 0.3s ease;
}
.main-nav a:hover {
  color: var(--color-accent);
}
.btn-login {
  background-color: var(--color-accent);
  color: var(--color-text-light);
  padding: 12px 32px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.3s ease;
}
.btn-login:hover {
  background-color: var(--color-accent-dark);
}

/* mobile menu styles*/
/* ======== BOTÃO HAMBURGUER ======== */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 28px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 200;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* ======== MENU MOBILE ======== */
.main-nav {
  transition: right 0.4s ease;
}

@media (max-width: 992px) {
  .main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--color-bg-light);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 100px 30px;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 150;
  }

  .main-nav.open {
    right: 0;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .hamburger {
    display: flex;
  }
}

/* ======== OVERLAY ESCURO ======== */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 100;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Itens escondidos por padrão */
.mobile-only {
  display: none;
}

